[include fluidd.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[include mainsail.cfg]
[include hw_config/stepper.cfg]
[include hw_config/extruder.cfg]
[include hw_config/bed.cfg]
[include hw_config/leveling.cfg]
[include hw_config/fans.cfg]
[include hw_config/led.cfg]
[include hw_config/temp_sensors.cfg]
[include hw_config/exp.cfg]
[include hw_config/filament_sensor.cfg]
[include hw_config/input_shaper.cfg]

[include macros/print.cfg]
[include macros/filament.cfg]
[include macros/homing.cfg]
[include macros/led.cfg]
[include macros/wled.cfg]
[include macros/nozzle_scrub.cfg]
[include macros/flexplate.cfg]
[include macros/pressure_advance.cfg]
[include macros/test_speed.cfg]

[include macros/KAMP/settings.cfg]

[include timelapse.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_570027001551313133353932-if00
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 450
max_accel: 7000
max_accel_to_decel: 5000
max_z_velocity: 30
max_z_accel: 700
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[save_variables]
filename: ~/printer_data/config/_saved_variables/variables.cfg

#####################################################################
#   Boot procedure
#####################################################################

[delayed_gcode _boot_sequence]
initial_duration: 1.
gcode:
  SET_GCODE_OFFSET Z=0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.007270, 0.003520, 0.008520, -0.017730
#*# 	  0.009770, 0.007270, 0.004770, -0.008980
#*# 	  -0.012730, -0.015230, -0.003980, -0.026480
#*# 	  -0.007730, -0.018980, -0.007730, -0.027730
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 90.5
#*# max_x = 214.49
#*# min_y = 89.5
#*# max_y = 215.5
