[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=LOADFILAMENT
    M117 Loading Filament...
    {% if "xy" in printer.toolhead.homed_axes %}
      G1 X25 Y298 F3000.0 
    {% endif %}
    M83 ; set extruder to relative
    G1 E100 F600
    RESTORE_GCODE_STATE NAME=LOADFILAMENT

[gcode_macro bla]
gcode:
    M117 { printer.stepper_enable.steppers["extruder"] }

[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=UNLOADFILAMENT
    {% if not printer.stepper_enable.steppers["extruder"] %}
        M117 Stepper disabled. Enabling...
        SET_STEPPER_ENABLE stepper=extruder enable=1
        G4 P1500
    {% endif %}
    M83                                   ; set extruder to relative
    G1 E10 F600                           ; extrude a little to soften tip 
    G1 E-200 F1800                        ; retract filament completely
    RESTORE_GCODE_STATE NAME=UNLOADFILAMENT

[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
    SFS_DISABLE

[gcode_macro SFS_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor 
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0 ; Put your filament sensor's name after SENSOR=



[gcode_macro M600]
variable_retract: 1
gcode:
    SAVE_GCODE_STATE NAME=STATE_M600
    {action_respond_info("Filament runout OR malfunction detected. Please fix!")}
    # remembers the position
    # fluidd annoyingly redefines this macro to retract and park the toolhead at the rear
    PAUSE  
    PARKING_POSITION

    # Let WLED blink red
    WLED_STATE PRESET=3
    
    # retract at 50mm/sec
    G91
    G1 E-{retract} F3000
  
    # ask the waiter for a refill
    M117 Refill please
    
    RESTORE_GCODE_STATE NAME=STATE_M600