[gcode_macro LOAD_FILAMENT]
gcode:
    M117 Loading Filament...
    {% if "xy" in printer.toolhead.homed_axes %}
      G1 X25 Y300 F3000.0 
    {% endif %}
    G92 E0.0
    G91
    G1 E50 F200
    G1 E60 F300
    G90
    G92 E0.0
    M400
    M117 Load Complete

[gcode_macro UNLOAD_FILAMENT]
gcode:
    M117 Unloading Filament...
    G92 E0.0
    G91
    G1 E-45 F5200
    G1 E-15 F1000
    G1 E-20 F1000
    G90
    G92 E0.0
    M400
    M117 Remove Filament Now!



[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
    SFS_DISABLE

[gcode_macro SFS_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor 
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0 ; Put your filament sensor's name after SENSOR=



[gcode_macro M600]
variable_park_x: 220
variable_park_y: 10
variable_z_lift: 20
variable_velocity: 60
variable_retract: 1
gcode:
    SAVE_GCODE_STATE NAME=STATE_M600
    
    # remembers the position
    # fluidd annoyingly redefines this macro to retract and park the toolhead at the rear
    PAUSE  
    
    # safe park coords
    {% set th = printer.toolhead %}
    {% set park_x = [params.X|default(park_x)|int, th.axis_maximum.x-2]|min %}
    {% set park_y = [params.Y|default(park_y)|int, th.axis_maximum.y-10]|min %}
    {% set park_z = [th.position.z + params.Z_LIFT|default(z_lift)|int, th.axis_maximum.z]|min %}
    {% set park_feedrate = params.VELOCITY|default(velocity)|int * 60 %}
    
    # retract at 50mm/sec
    G91
    G1 E-{retract} F3000
    
    # park toolhead
    G90
    CLEAN_NOZZLE
    
    # unload 60mm of filament
    G91
    #G1 E-50 F3600
    #G1 E-10 F3600
    
    # ask the waiter for a refill
    M117 Refill please
    
    RESTORE_GCODE_STATE NAME=STATE_M600